$color-group-1a: #B0BEC5;
$color-group-1b: #78909C;
$color-group-1c: #607D8B;
$color-group-1d: #DBDADA;

$color-white: #FFFFFF;

$color-group-2a: #FFECB3;
$color-group-2b: #FFD740;
$color-group-2c: #FF9100;
$color-group-2d: #FF5722;

$color-group-3a: #26C6DA;
$color-group-3b: #00E5FF;
$color-group-3c: #64B5F6;

$color-group-4a: #9FA8DA;
$color-group-4b: #5C6BC0;
$color-group-4c: #1A237E;
$color-group-4d: #9C27B0;

$color-group-5a: #00BFA5;
$color-group-5b: #00695C;

$color-group-6a: #FF1744;
$color-group-6b: #F06292;
